//colores textos
$color-font1: #221d23;
$color-font2: #fff; 
$color-font3: #726f73;

//colores state buttons
$normal-state: #2ab7ca;
$hover-state: #77d1dd;
$focus-state: #aeacaf;


//colores background
$color-section: #333745;

// colores backgroung footer
$color-bg-footer: #221d23;

/////////////////////////////////////////////////////////////////////////

//fonts
$font-principal: 'Raleway', sans-serif;
$font-secundaria: 'Open Sans', sans-serif;

//typefaces
$regular: 400;
$bold: 700;

//font-sizes 
$x5-large: 50px;
$x4-large: 45px;
$x3-large: 40px;
$x2-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;


